<div class="card-profile box-shadow">
    <ngx-avatar 
        class="avatar-perfil"
        src="https://www.gamersdecide.com/sites/default/files/top-10-best-skyrim-mods-for-mages-1.jpg" 
        [size]="110"></ngx-avatar>

    <div class="profile-header">

    </div>
    <div class="profile-content">
        <h3>Jordan Willian</h3>
        <span class="user-level">Nível: administrador</span>

        <button mat-raised-button color="primary">
            Cadastrar professor
        </button>
        <button mat-raised-button color="primary">
            Cadastrar disciplina
        </button>
        <button mat-raised-button color="warn">
            Sair
        </button>

    </div>
</div>



